*{
  box-sizing:border-box;
}

html, body{
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

svg{
  background: rgba(114,114,255,1);
}

.clearfix:after{
  visibility:hidden;
  display:block;
  content:"";
  clear:both;
  height:0
}
* html .clearfix{
  zoom:1
}
*:first-child+html .clearfix{
  zoom:1
}

.boundary{
  stroke: black;
  stroke-width: 1px;
  fill: rgba(180,180,180,1); /*TODO color if there is no data available*/
  stroke-opacity: 0.7;
}

.hAdmLevel{
    /*display: none;*/
}

.tile{
  stroke: black;
  stroke-width: 1px;
  fill: rgba(0,0,0,0.1);
}


.lAdmLevel{
  display: none;
}

#ui > div{
  position: absolute;
}

.btn{
  padding: 5px 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  background: rgba(255, 255, 255, 1);
}
.btn:active{
  background: rgba(200, 200, 200, 1);
}

#uiControls{
  padding-top: 10px;
  width: 90px;
  height: 170px;
  text-align: center;
}
#uiControls button{
  background: rgba(255, 255, 255, 1);
  height: 30px;
  width: 30px;
  margin: 2px 0;
  padding: 0;
  font-size: 1.1em;
  border:none;
  border: 1px solid gray;
  outline:none;
  border-radius: 50%;
}
#uiControls button:active{
  background: rgba(200, 200, 200, 1);
}

#loading{
  padding: 10px;
  border-top-right-radius: 15px;
  display: none;
  bottom: 0px;
  left: 0px;
  background: rgba(200,200,200,0.5);
  pointer-events: none;
}
#loading img{
  margin-right: 10px;
}

#infoBox{
  display: none;
  background: rgba(200, 200, 200, 0.8);
  padding: 5px;
  border-radius: 2px;
  pointer-events: none;
}
#infoBoxInfo{
  margin-top: 20px;
}
#infoBox button{
  pointer-events: all;
}

.revealableGroup{
  margin: 0 0 5px 0;
  background: rgba(200,200,200,0.1);
  box-shadow: black 0px 0px 1px;
  overflow: auto;
}
.revealableGroup .groupTitle{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 10px;
  background: rgba(200,200,200,0.3);
  font-weight: bold;
  font-size: 1.1em;
  line-height: 2em;
}
.revealableGroup .groupContent{
  display:none;
  padding: 20px;
  width: 100%;
}

#scale{
  left: 0px;
  top: 180px;
  width: 100%;
  padding: 20px 0px;
  pointer-events: none;
  font-size: 1em;
  text-shadow: black 1px 1px 1px;
  font-weight: bolder;
  color: white;
}
#scale span{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  box-shadow: black 0 0 2px;
}
.scaleElement{
  margin: 0;
  height: 20px;
  line-height: 20px;
}
#scale label{
  vertical-align: top;
}

#scaleHeader{
  margin-bottom: 5px;
}

#menuControls{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  font-weight:bold;
}

.overlay{
  display: none;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  margin: 0px;
  padding: 35px 15px;
  border-radius: 10px;
  color: white;
  background: rgba(50, 50, 50, 0.8);
  font-size: 0.9em;
}

.innerOverlay{
  overflow: auto;
  height: 100%;
  width: 100%;
}

.overlayHeader{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 30px;
  padding: 7px 0 0 15px;
}

.overlayHeader .btn{
  font-weight: bolder;
}

.closeOverlayBTN{
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(200,200,200,0.3);
    outline: none;
    border: none;
    font-size: 1.3em;
    color: white;
    height: 100%;
    width: 30px;
    border-top-right-radius: 10px;
}




.groupContent label{
  margin-top: 10px;
  display: inline-block;
}

.rangeFilter, .rangeFilter > div{
  width: 90%;
}
.rangeFilter label{
  width: 20%;
}
.rangeFilter .range{
  width: 40%;
}
.rangeFilter .text{
  width: 30%;
  margin-left: 2%;
}

.otherOption{
  margin-top: 10px;
}

.groupTitle .title{
  display: inline-block;
}
.groupTitle .contentCheck{
  float:right;
}

#filterOther .btn{
  float: right;
}

#errorView{
  height: inherit;
}
#errorMessage{
  font-size: 2em;
}


svg > *{
  /*pointer-events:none;*/
}

#smTemplate, #normalTemplate{
  display:none;
}